{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
      {% block sidebar %}
        <h2>Filter dimension values</h2>
        {% crispy form %}
      {% endblock %}
      </div>
      <div class="col-lg">
      {% block content %}
        <canvas id="chart_metrics" width="1000" height="500"></canvas>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">

        metricsChart = null
        function retrieve_data()
        {
            $.post(
                '{% url 'adverity_data_json' %}',
                $('#parameters-form').serialize(),
                function (data) {
                  var ctx = $("#chart_metrics").get(0).getContext("2d");
                  if (metricsChart != null)
                  {
                    metricsChart.destroy()
                  }
                  metricsChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: {
                            responsive: false,
                        }
                });

                metricsChart.update();
           });

        }

        $('#parameters-form').on('submit', function(event){
              event.preventDefault();
              console.log("form submitted!")  // sanity check
              retrieve_data();
        });
       retrieve_data();

       </script>
      {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
